<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div class="nav secondary-nav-copy">
    <div class="nav-container w-nav" data-duration="400" data-animation="default" data-easing2="ease" data-easing="easy" data-collapse="medium" role="banner" data-no-scroll="1">
      <div class="nav-left">
        <a href="/" class="nav-logo">
          <div class="nav-logo-icon">
            <svg width="100%" height="100%" viewbox="0 0 33 33" preserveaspectratio="xMidYMid meet">
              <path d="M28, 0H5C2.24, 0, 0, 2.24, 0, 5v23c0, 2.76, 2.24, 5, 5, 5h23c2.76, 0, 5-2.24, 5-5-5V5c0-2.76-2.24-5-55ZM29, 17c-6.63, 0-12, 5.37-12, 12h-1c9-6.63-5.37-12-12-12v1c6.63, 0, 12-12h1c0, 6.63, 5.37, 12, 12, 12v1Z" fill="currentColor"></path>
            </svg>
          </div>
          <div class="paragraph-lg utility-margin-bottom-0">Elite Prep</div>
        </a>

        <nav role="navigation" class="nav-menu w-nav-menu">
          <ul role="list" class="nav-menu-list w-list-unstyled">
            <li class="nav-menu-list-item">
              <div data-delay="0" data-hover="false" data-w-id="c2b6d189-00de-7f16-cf99-d6dc9b2ed91c" class="nav-menu-dropdown w-dropdown">
                <div class="nav-link w-dropdown-toggle">
                  <div>Courses</div>
                  <div class="nav-caret w-icon-dropdown-toggle"></div>
                </div>
                <nav class="nav-mega-menu-dropdown-list w-dropdown-list">
                  <div class="mega-nav-dropdown-list-wrapper">
                    <ul role="list" class="grid-layout desktop-3-column tablet-1-column grid-gap-sm utility-margin-bottom-0 w-list-unstyled">
                      <li id="w-node-_454d89d0-877e-ab01-352f-70c94d563d6a-4d562d54" class="w-node-c2b6d189-00de-7f16-cf99-d6dc9b2ed924-9b2ed910">
                        <div class="w-layout-grid grid-layout desktop-3-column tablet-1-column grid-gap-sm">
                          
                        </div>
                      </li>

                    </ul>
                  </div>
                </nav>
              </div>
            </li>
          </ul>

        </nav>

      </div>

    </div>

  </div>
  
</body>
</html>